body {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  
h1 {
    color: navy;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 100%;
}

h4 {
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 30%;
    color: gray;
    font-style: normal;
}

h3 {
    margin-bottom: 0%;
    margin-left: 20px;
    font-family: Helvetica;
}

address {
    display: inline-block;
}

.myprofile {
    width: 30%;
    height: 30%;
    justify-content: center;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
}

p {
    font-style: normal;
    font-size: 10%;
    display: flex;
}

header {
    display: flex;
}

.contact {
    margin-left: 20px;
    margin-top: 10px;
    display: flexbox;
}

.contact img{
    width: 5%;
    height: 5%;
    float: left;
    margin-right: 5px;
}

.contactPhoto {
    width: 100%;
    height: 10%;
}

.contactPhoto img {
    width: 10%;
    height: 20px;
}

.Education img {
    width: 7%;
    height: 20px;
    margin-left: 20px;
    margin-right: 5px;
}

.Education {
    display: flexbox;
}

ul {
    margin-top: 0%;
    font-size: 20%;
    /* font-family: Helvetica; */
}

.Skill {
    display: flex;
}

.HeaderSkill {
    font-size: large;
    margin-left: 20px;
    margin-bottom: 0%;
}